@import url(https://fonts.googleapis.com/css2?family=Figtree&display=swap);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Figtree;
}

body{
    display: grid;
    place-content: center;
    min-height: 100vh;
    background: #000;
}
a{
    text-decoration: none;
    color: aliceblue;
}
.wrapper{
    margin-bottom: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main-link{
    font-size: 42px;
    font-weight: 900;
    color: aliceblue;
}
.list{
display: flex;
gap: 24px;
}
.item{
    font-weight: 600;
    font-size: 18px;
}

.container{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 1em;
    width: 800px;
    height: 500px;
    transition: all 400ms;
}

.container:hover .box {
    filter: grayscale(100%) opacity(24%);

}

.box{
    position: relative;
    background: var(--img) center center;
    background-size: cover;
    transition: all 400ms;
    display:  flex;
    justify-content: center;
    align-items: center;
}

.container .box:hover {
    filter: grayscale(0%) opacity(100%);
}

.container:has(.box-1:hover) {
    grid-template-columns: 3fr 1fr 1fr 1fr 1fr 1fr;
}

.container:has(.box-2:hover) {
    grid-template-columns: 1fr 3fr 1fr 1fr 1fr 1fr;
}
.container:has(.box-3:hover) {
    grid-template-columns: 1fr 1fr 3fr 1fr 1fr 1fr;
}
.container:has(.box-4:hover) {
    grid-template-columns: 1fr 1fr 1fr 3fr 1fr 1fr;
}
.container:has(.box-5:hover) {
    grid-template-columns: 1fr 1fr 1fr 1fr 3fr 1fr;
}
.container:has(.box-6:hover) {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 3fr;
}

.box:nth-child(odd) {
    transform: translateY(-16px);
}
.box:nth-child(even) {
    transform: translateY(16px);
}
.box::after {
    content: attr(data-text);
    position: absolute;
    bottom: 20px;
    background: #000;
    color: #fff;
    padding: 10px 10px 10px 14px;
    border-radius: 8px;
    letter-spacing: 4px;
    text-transform: uppercase;
    transform: translateY(60px);
    opacity: 0;
    transition: all 400ms;
}

.box:hover::after{
    transform: translateY(0);
    opacity: 1;
    transition-delay: 400ms;
}

.hero {
    margin-top: 80px;
    margin-bottom: 10px;
    text-align: center  ;
}
.hero-img {
    border-radius: 15px;
    margin-bottom: 30px;
}
.hero-title {
    color: #fff;
    margin-bottom: 40px;
    font-weight: 700;
    font-size: 28px;
}
.hero-text {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    width: 800px;
    letter-spacing: 0.8px;
}